.card-wrapper
  .card
    .name.bg-black.white.caslon.f4.ph2 Names (Female)
    .flrw.pa1.f7
      .fln.w-15 Abelarda
      .fln.w-15 Adalgisa
      .fln.w-15 Adela
      .fln.w-15 Adelgunde
      .fln.w-15 Adelheid
      .fln.w-15 Adelhelma
      .fln.w-15 Adelinde
      .fln.w-15 Adolfa
      .fln.w-15 Alberta
      .fln.w-15 Alda
      .fln.w-15 Aldona
      .fln.w-15 Alido
      .fln.w-15 Alrun
      .fln.w-15 Alwine
      .fln.w-15 Amalberga
      .fln.w-15 Anselma
      .fln.w-15 Arda
      .fln.w-15 Arnolda
      .fln.w-15 Asgard
      .fln.w-15 Aubrey
      .fln.w-15 Belinda
      .fln.w-15 Bernharde
      .fln.w-15 Berta
      .fln.w-15 Berthild
      .fln.w-15 Bertille
      .fln.w-15 Bertrada
      .fln.w-15 Bliktrud
      .fln.w-15 Bruna
      .fln.w-15 Burghild
      .fln.w-15 Carla
      .fln.w-15 Charlotte
      .fln.w-15 Cressida
      .fln.w-15 Diemut
      .fln.w-15 Diethild
      .fln.w-15 Dietlinde
      .fln.w-15 Diomira
      .fln.w-15 Ebba
      .fln.w-15 Edelgard
      .fln.w-15 Ehrentraud
      .fln.w-15 Eike
      .fln.w-15 Elfrun
      .fln.w-15 Eloise
      .fln.w-15 Elva
      .fln.w-15 Emery
      .fln.w-15 Engel
      .fln.w-15 Engla
      .fln.w-15 Ernesta
      .fln.w-15 Everarda
      .fln.w-15 Filiberta
      .fln.w-15 Franka
      .fln.w-15 Frederika
      .fln.w-15 Friedegund
      .fln.w-15 Geraldine
      .fln.w-15 Gerburg
      .fln.w-15 Gerharde
      .fln.w-15 Gerhild
      .fln.w-15 Gerlinde
      .fln.w-15 Gertrud
      .fln.w-15 Gerwine
      .fln.w-15 Gilberta
      .fln.w-15 Gisela
      .fln.w-15 Gotlinde
      .fln.w-15 Griselda
      .fln.w-15 Gudrun
      .fln.w-15 Guerina
      .fln.w-15 Gunda
      .fln.w-15 Gundelinde
      .fln.w-15 Gunthilde
      .fln.w-15 Hedwig
      .fln.w-15 Heilburg
      .fln.w-15 Heilgard
      .fln.w-15 Heilwig
      .fln.w-15 Helmgard
      .fln.w-15 Helmtraud
      .fln.w-15 Hemma
      .fln.w-15 Henrietta
      .fln.w-15 Herlinde
      .fln.w-15 Hermine
      .fln.w-15 Herta
      .fln.w-15 Hildburg
      .fln.w-15 Hildegard
      .fln.w-15 Hildegunde
      .fln.w-15 Hildrun
      .fln.w-15 Hiltrud
      .fln.w-15 Huberta
      .fln.w-15 Hulda
      .fln.w-15 Inge
      .fln.w-15 Ingfried
      .fln.w-15 Irma
      .fln.w-15 Irmgard
      .fln.w-15 Irmhild
      .fln.w-15 Irmlinde
      .fln.w-15 Irmtraud
      .fln.w-15 Ishilde
      .fln.w-15 Kai
      .fln.w-15 Kaja
      .fln.w-15 Klothilde
      .fln.w-15 Konrada
      .fln.w-15 Kriemhild
      .fln.w-15 Lamberta
      .fln.w-15 Leonarda
      .fln.w-15 Leopoldine
      .fln.w-15 Liebgard
      .fln.w-15 Liebtrud
      .fln.w-15 Linda
      .fln.w-15 Linde
      .fln.w-15 Lioba
      .fln.w-15 Livina
      .fln.w-15 Loreley
      .fln.w-15 Louise
      .fln.w-15 Ludgera
      .fln.w-15 Luitgard
      .fln.w-15 Margund
      .fln.w-15 Mathilde
      .fln.w-15 Merlind
      .fln.w-15 Miltrud
      .fln.w-15 Norgard
      .fln.w-15 Nortrud
      .fln.w-15 Notburga
      .fln.w-15 Ortraud
      .fln.w-15 Ortrun
      .fln.w-15 Ostara
      .fln.w-15 Ottilia
      .fln.w-15 Radegundis
      .fln.w-15 Raina
      .fln.w-15 Ramona
      .fln.w-15 Randi
      .fln.w-15 Reinhild
      .fln.w-15 Reinhilde
      .fln.w-15 Riccarda
      .fln.w-15 Richmute
      .fln.w-15 Roberta
      .fln.w-15 Rochelle
      .fln.w-15 Rodina
      .fln.w-15 Rolanda
      .fln.w-15 Romilda
      .fln.w-15 Rosalinde
      .fln.w-15 Rosamunde
      .fln.w-15 Roswitha
      .fln.w-15 Rotraud
      .fln.w-15 Runhild
      .fln.w-15 Saskia
      .fln.w-15 Schwanhilde
      .fln.w-15 Sieghilde
      .fln.w-15 Sieglinde
      .fln.w-15 Sigune
      .fln.w-15 Sunna
      .fln.w-15 Sunnhild
      .fln.w-15 Thusnelda
      .fln.w-15 Ubalda
      .fln.w-15 Ulrike
      .fln.w-15 Ute
      .fln.w-15 Veerle
      .fln.w-15 Waltraud
      .fln.w-15 Wanda
      .fln.w-15 Wendelgard
      .fln.w-15 Wendelina
      .fln.w-15 Wigberta
      .fln.w-15 Wigburg
      .fln.w-15 Wilhelma
      .fln.w-15 Wiltrud
      .fln.w-15 Yvonne
