.card-wrapper
  .card
    .name.bg-black.white.caslon.f4.ph2 Names (Male)
    .flrw.pa1.f7
      .fln.w-10 Adalbero
      .fln.w-10 Adelbrand
      .fln.w-10 Adelgis
      .fln.w-10 Adelhard
      .fln.w-10 Adelhelm
      .fln.w-10 Adolar
      .fln.w-10 Adolf
      .fln.w-10 Aimar
      .fln.w-10 Alberich
      .fln.w-10 Albert
      .fln.w-10 Aldo
      .fln.w-10 Alida
      .fln.w-10 Alram
      .fln.w-10 Altmann
      .fln.w-10 Alwin
      .fln.w-10 Anselm
      .fln.w-10 Archibald
      .fln.w-10 Aristeo
      .fln.w-10 Arnfried
      .fln.w-10 Arnold
      .fln.w-10 Arnulf
      .fln.w-10 Arwin
      .fln.w-10 Aschwin
      .fln.w-10 Askan
      .fln.w-10 Astolfo
      .fln.w-10 Baldwin
      .fln.w-10 Bernard
      .fln.w-10 Bernfried
      .fln.w-10 Bernger
      .fln.w-10 Bernward
      .fln.w-10 Bert
      .fln.w-10 Berthold
      .fln.w-10 Bertrad
      .fln.w-10 Bertram
      .fln.w-10 Bertrand
      .fln.w-10 Bodo
      .fln.w-10 Bodobert
      .fln.w-10 Bruno
      .fln.w-10 Burkhard
      .fln.w-10 Clodomiro
      .fln.w-10 Conrad
      .fln.w-10 Curt
      .fln.w-10 Dagobert
      .fln.w-10 Dankmar
      .fln.w-10 Dankrad
      .fln.w-10 Degenhard
      .fln.w-10 Deion
      .fln.w-10 Detlev
      .fln.w-10 Dieter
      .fln.w-10 Dietgard
      .fln.w-10 Dietger
      .fln.w-10 Diethard
      .fln.w-10 Dietmar
      .fln.w-10 Dietrich
      .fln.w-10 Ebbo
      .fln.w-10 Eckbert
      .fln.w-10 Eckhard
      .fln.w-10 Egmont
      .fln.w-10 Egon
      .fln.w-10 Eike
      .fln.w-10 Elmer
      .fln.w-10 Elric
      .fln.w-10 Emmerich
      .fln.w-10 Engelbert
      .fln.w-10 Erfried
      .fln.w-10 Erhard
      .fln.w-10 Ernest
      .fln.w-10 Erwin
      .fln.w-10 Everard
      .fln.w-10 Ewald
      .fln.w-10 Falko
      .fln.w-10 Farald
      .fln.w-10 Filibert
      .fln.w-10 Folke
      .fln.w-10 Frank
      .fln.w-10 Frederick
      .fln.w-10 Friedbert
      .fln.w-10 Friedger
      .fln.w-10 Friedhelm
      .fln.w-10 Friedwart
      .fln.w-10 Friso
      .fln.w-10 Gangolf
      .fln.w-10 Gaston
      .fln.w-10 Gebhard
      .fln.w-10 Gerald
      .fln.w-10 Gerard
      .fln.w-10 Gerfried
      .fln.w-10 Gerlach
      .fln.w-10 Gernot
      .fln.w-10 Gerolf
      .fln.w-10 Gerwig
      .fln.w-10 Gerwin
      .fln.w-10 Gilbert
      .fln.w-10 Giselher
      .fln.w-10 Gismondo
      .fln.w-10 Godfrey
      .fln.w-10 Gonzalo
      .fln.w-10 Goswin
      .fln.w-10 Gotthard
      .fln.w-10 Gottlieb
      .fln.w-10 Gottschalk
      .fln.w-10 Grimwald
      .fln.w-10 Guerino
      .fln.w-10 Guido
      .fln.w-10 Gundolf
      .fln.w-10 Guntbert
      .fln.w-10 Gunthard
      .fln.w-10 Gunther
      .fln.w-10 Guntram
      .fln.w-10 Hadebrand
      .fln.w-10 Hademar
      .fln.w-10 Hagen
      .fln.w-10 Harald
      .fln.w-10 Hartbert
      .fln.w-10 Hartmann
      .fln.w-10 Hartmut
      .fln.w-10 Hartwig
      .fln.w-10 Hartwin
      .fln.w-10 Hasso
      .fln.w-10 Hatto
      .fln.w-10 Heimo
      .fln.w-10 Heimrad
      .fln.w-10 Helferich
      .fln.w-10 Helmer
      .fln.w-10 Helmut
      .fln.w-10 Henry
      .fln.w-10 Herbert
      .fln.w-10 Hermann
      .fln.w-10 Herwig
      .fln.w-10 Hildebrand
      .fln.w-10 Hildemar
      .fln.w-10 Hilger
      .fln.w-10 Horst
      .fln.w-10 Hubert
      .fln.w-10 Hugo
      .fln.w-10 Humbert
      .fln.w-10 Hunfried
      .fln.w-10 Ingbert
      .fln.w-10 Ingmar
      .fln.w-10 Ingo
      .fln.w-10 Ingolf
      .fln.w-10 Isebrand
      .fln.w-10 Isenbert
      .fln.w-10 Ivo
      .fln.w-10 Kai
      .fln.w-10 Karl
      .fln.w-10 Kleber
      .fln.w-10 Korbinian
      .fln.w-10 Kraft
      .fln.w-10 Kunibert
      .fln.w-10 Kuno
      .fln.w-10 Lambert
      .fln.w-10 Lando
      .fln.w-10 Landolf
      .fln.w-10 Landrich
      .fln.w-10 Laurin
      .fln.w-10 Leonhard
      .fln.w-10 Leopold
      .fln.w-10 Liebhard
      .fln.w-10 Liebwin
      .fln.w-10 Lothar
      .fln.w-10 Lubin
      .fln.w-10 Ludger
      .fln.w-10 Ludolf
      .fln.w-10 Ludwig
      .fln.w-10 Luitwin
      .fln.w-10 Luther
      .fln.w-10 Major
      .fln.w-10 Malte
      .fln.w-10 Manegold
      .fln.w-10 Manfred
      .fln.w-10 Markolf
      .fln.w-10 Markward
      .fln.w-10 Meinhard
      .fln.w-10 Meinolf
      .fln.w-10 Meinrad
      .fln.w-10 Mombert
      .fln.w-10 Neidhard
      .fln.w-10 Norbert
      .fln.w-10 Norman
      .fln.w-10 Notker
      .fln.w-10 Oddone
      .fln.w-10 Oliver
      .fln.w-10 Ortwin
      .fln.w-10 Oswald
      .fln.w-10 Ottfried
      .fln.w-10 Ottmar
      .fln.w-10 Otto
      .fln.w-10 Otwin
      .fln.w-10 Raban
      .fln.w-10 Ralf
      .fln.w-10 Randolf
      .fln.w-10 Raymond
      .fln.w-10 Rayner
      .fln.w-10 Reimar
      .fln.w-10 Reingard
      .fln.w-10 Reinhard
      .fln.w-10 Reinhold
      .fln.w-10 Rembert
      .fln.w-10 Richard
      .fln.w-10 Richmut
      .fln.w-10 Rigoberto
      .fln.w-10 Roald
      .fln.w-10 Robert
      .fln.w-10 Rocco
      .fln.w-10 Roderick
      .fln.w-10 Roger
      .fln.w-10 Roland
      .fln.w-10 Romarich
      .fln.w-10 Romuald
      .fln.w-10 Rudolf
      .fln.w-10 Sachso
      .fln.w-10 Siegbald
      .fln.w-10 Siegbert
      .fln.w-10 Sieger
      .fln.w-10 Siegfried
      .fln.w-10 Sieghard
      .fln.w-10 Siegmar
      .fln.w-10 Siegmund
      .fln.w-10 Siegward
      .fln.w-10 Theobald
      .fln.w-10 Thijmen
      .fln.w-10 Thilo
      .fln.w-10 Till
      .fln.w-10 Ubaldo
      .fln.w-10 Ulrich
      .fln.w-10 Volkbert
      .fln.w-10 Volker
      .fln.w-10 Volkhard
      .fln.w-10 Volkmar
      .fln.w-10 Waldemar
      .fln.w-10 Walfried
      .fln.w-10 Walo
      .fln.w-10 Walter
      .fln.w-10 Waltram
      .fln.w-10 Wedekind
      .fln.w-10 Wendelin
      .fln.w-10 Werner
      .fln.w-10 Wieland
      .fln.w-10 Wigand
      .fln.w-10 Wigbert
      .fln.w-10 Wighard
      .fln.w-10 Wigmar
      .fln.w-10 Wilburg
      .fln.w-10 Wilfried
      .fln.w-10 Wilhard
      .fln.w-10 William
      .fln.w-10 Willibald
      .fln.w-10 Willibert
      .fln.w-10 Wilmar
      .fln.w-10 Winand
      .fln.w-10 Winfried
      .fln.w-10 Witold
      .fln.w-10 Wolf
      .fln.w-10 Wolfgang
      .fln.w-10 Wolfhard
      .fln.w-10 Wolfram
      .fln.w-10 Wunibald
      .fln.w-10 Zelindo
