.card-wrapper
  .card.flcnw
    .name.fln.bg-black.white.caslon.f3.ph2 Ranges per round
    .fla.flcnw
      .fla.flrcv
        .flcnw.w-100.ba
          .fln.flrnw.bb
            .fln.w-10.flc 64"
            .fln.w-10.flc.br 56"
            .fln.w-10.flc 48"
            .fln.w-10.flc 40"
            .fln.w-10.flc.br 32"
            .fln.w-10.flc 24"
            .fln.w-10.flc.br 16"
            .fln.w-10.flc.br 8"
            .fln.w-20.flc FORT
          .fln.flrnw
            .fln.w-20.bg-red.h3.flc.br Out of Range
            .fln.w-30.bg-orange.h3.flc.br Long Range (-4)
            .fln.w-20.bg-yellow.h3.flc.br.tc.f6 Medium Range (-2)
            .fln.w-10.bg-green.h3.flc.br.transparent.b--black -
            .fln.w-20.h3.flc Pace 6"

      .fla.flrcv
        .flcnw.w-100.ba
          .fln.flrnw.bb
            .fln.w-10.flc 64"
            .fln.w-10.flc.br 53"
            .fln.w-10.flc 42"
            .fln.w-10.flc.br 31"
            .fln.w-10.flc.br 20"
            .fln.w-10.flc.br 9"
            .fln.w-40.flc FORT
          .fln.flrnw
            .fln.w-20.bg-red.h3.flc.br Out of Range
            .fln.w-20.bg-orange.h3.flc.br.tc.f6 Long Range (-4)
            .fln.w-10.bg-yellow.h3.flc.br.tc.f6 Medium Range (-2)
            .fln.w-10.bg-green.h3.flc.br.transparent.b--black -
            .fln.w-40.h3.flc Pace 8"



