include ./mixins/mixins
doctype html
html(lang="en")
  include ./partials/header
  body
    .card-list
      each item in npcs
        +npc(item)
      each item in rules
        +rule(item)
      each item in spells
        +spell(item)
      
      include ./partials/names-male
      include ./partials/names-female
