include ./mixins/npc
doctype html
html(lang="en")
  include ./partials/header
  body
    .card-list
      each item in npcs
        +npc(item)

      // each item in rules
      //   +npc(item)
      
      include ./partials/names-male
      include ./partials/names-female
