// Give a better display to all cards when viewed on screen
@media screen {
  .card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    margin: .25rem;
    border: .25rem dashed $black-10;
  }
}
.card {
  width: $print-width;
  min-width: $print-width;
  max-width: $print-width;
  height: $print-height;
  min-height: $print-height;
  max-height: $print-height;
  overflow: hidden;
}

// NAME {{{
.name {
  padding-right: 4rem;
  position: relative;
  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3rem;
    background-image: linear-gradient(to top right, black 50%, white 50%) ;
  }
}
// }}}
