@font-face {
  font-family: 'Caslon';
  src: url('../fonts/CaslonAntique.eot');
  src: url('../fonts/CaslonAntique.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CaslonAntique.woff2') format('woff2'),
       url('../fonts/CaslonAntique.woff') format('woff'),
       url('../fonts/CaslonAntique.ttf') format('truetype'),
       url('../fonts/CaslonAntique.svg#caslon_antiqueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

