@media print {
  @page {
    size: $print-height $print-width;
  }
  
  // Always change page before each card, forcing it to print each card on a new
  // real card
  .card {
    page-break-before: always;
    transform: rotate(90deg);
    transform-origin: bottom left;
    margin-top: -$print-height;
  }
}

